# Berlin Microcensus Housing Situation (source-aligned) - Sample Notebook

## Explore data

In [1]:
import pandas as pd

# Read csv file
dataframe = pd.read_csv(
    "./data/03-gold/berlin-microcensus-housing-situation-2022-00-csv/berlin-microcensus-housing-situation-2022-00-18-households-by-gross-rent-districts.csv"
)

In [2]:
# Display 5 first rows
dataframe.head()

   id  total  ...  gross_rent_more_than_800_euros  gross_rent_average
0   1  172.0  ...                              47               711.0
1   2  121.0  ...                              34               707.0
2   3  171.0  ...                              50               701.0
3   4  135.0  ...                              42               748.0
4   5   98.0  ...                              15               585.0

[5 rows x 9 columns]

In [3]:
# Display dataframe info
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 9 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   id                                    12 non-null     int64
 1   total                                 12 non-null     float64
 2   gross_rent_below_400_euros            12 non-null     float64
 3   gross_rent_between_400_and_500_euros  12 non-null     float64
 4   gross_rent_between_500_and_600_euros  12 non-null     float64
 5   gross_rent_between_600_and_700_euros  12 non-null     float64
 6   gross_rent_between_700_and_800_euros  12 non-null     object
 7   gross_rent_more_than_800_euros        12 non-null     object
 8   gross_rent_average                    12 non-null     float64
dtypes: float64(6), int64(1), object(2)
memory usage: 996.0+ bytes

In [4]:
# Describe dataframe
dataframe.describe()

              id  ...  gross_rent_average
count  12.000000  ...           12.000000
mean    6.500000  ...          636.083333
std     3.605551  ...           74.832490
min     1.000000  ...          507.000000
25%     3.750000  ...          581.250000
50%     6.500000  ...          637.000000
75%     9.250000  ...          702.500000
max    12.000000  ...          748.000000

[8 rows x 7 columns]